<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Volunteer Sign-up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if (typeof error !== 'undefined') { %>
    <div data-error id="<%= error %>"></div>
  <% } %>

  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Volunteer Sign-up</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/profile">
            <img id="header_pfp"
              alt="Profile"
              src="/img/default_pfp.svg"
              width="30">
          </a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
      <h1>Your Dashboard</h1>
    </section>
    <div id="notify">
      <input type="checkbox" name="notify-check" id="notify-check">
      <label for="notify-check">Notify me when joined opportunities update</label>
    </div>
    <div class="filter-bar" id="upcoming-opportunities">
      <p>Upcoming joined opportunities</p>
      <div>
        <button class="btn" id="sort-upcoming">Sort Results</button>
        <button class="btn" id="filter-upcoming">Filter Results</button>
      </div>
    </div>
    <section class="opportunities">
      <ol>
        <% upcoming.forEach(function(opportunity) { %>
          <li>
            <table>
              <tr>
                <td rowspan="3">
                  <img class="td-image"
                    alt="Opportunity Picture"
                    src="<%= opportunity.image %>">
                </td>
                <td class="td-title" colspan="3"><%= opportunity.title %></td>
                <td class="td-date"><%= opportunity.dateStr %></td>
              </tr>
              <tr>
                <td colspan="3" rowspan="2" class="td-description"><%= opportunity.description %></td>
                <td rowspan="2" class="td-time"><%= opportunity.startTimeStr %> - <%= opportunity.endTimeStr %></td>
              </tr>
              <tr></tr>
              <tr>
                <td class="td-leave" id="<%= opportunity.id %>"><button class="btn">Leave Opportunity</button></td>
                <td colspan="3" class="td-organizers"><%= opportunity.organizers.join(', ') %></td>
                <td class="td-zip">Zip Code: <%= opportunity.zipCode %></td>
              </tr>
            </table>
          </li>
        <% }) %>
      </ol>
    </section>
    <div class="filter-bar" id="past-opportunities">
      <p>Past joined opportunities</p>
      <div>
        <button class="btn" id="sort-expired">Sort Results</button>
        <button class="btn" id="filter-expired">Filter Results</button>
      </div>
    </div>
    <section class="opportunities">
      <ol>
        <% expired.forEach(function(opportunity) { %>
          <li>
            <table>
              <tr>
                <td rowspan="3">
                  <img class="td-image"
                    alt="Opportunity Picture"
                    src="<%= opportunity.image %>">
                </td>
                <td class="td-title" colspan="3"><%= opportunity.title %></td>
                <td class="td-date"><%= opportunity.dateStr %></td>
              </tr>
              <tr>
                <td colspan="3" rowspan="2" class="td-description"><%= opportunity.description %></td>
                <td rowspan="2" class="td-time"><%= opportunity.startTimeStr %> - <%= opportunity.endTimeStr %></td>
              </tr>
              <tr></tr>
              <tr>
                <td class="td-leave" id="<%= opportunity.id %>"><button class="btn">Leave Opportunity</button></td>
                <td colspan="3" class="td-organizers"><%= opportunity.organizers.join(', ') %></td>
                <td class="td-zip">Zip Code: <%= opportunity.zipCode %></td>
              </tr>
            </table>
          </li>
        <% }) %>
      </ol>
    </section>
    <br>
  </main>

  <footer>
    <nav>
      <div class="container">
        <p>&copy; 2025 Volunteer Sign-up. All rights reserved.</p>
        <ul class="nav-links">
          <li><a href="/statistics">Volunteer Statistics</a></li>
        </ul>
      </div>
    </nav>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
