<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Volunteer Sign-up</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if (typeof error !== 'undefined') { %>
    <div data-error id="<%= error %>"></div>
  <% } %>

  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Volunteer Sign-up</a>
        <% if (typeof session !== 'undefined') { %>
          <p>Welcome back, <%= session.firstName %>!</p>
        <% } %>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/profile">
            <img id="header_pfp"
              alt="Profile"
              src="/img/default_pfp.svg"
              width="30">
          </a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="hero">
        <h1>Discover unique volunteer opportunities created by members of your community!</h1>
    </section>
    <div class="create-bar">
      <button class="btn" id="button-create">Create Opportunity</button>
    </div>
    <div class="filter-bar">
      <p>Find an opportunity!</p>
      <div>
        <button class="btn" id="button-sort">Sort Results</button>
        <button class="btn" id="button-filter">Filter Results</button>
        <label for="input-zip">Zip Code:</label>
        <input id="input-zip" name="input-zip" type="number">
      </div>
    </div>
    <section class="opportunities">
      <ol>
        <% opportunities.forEach(function(opportunity) { %>
          <li>
            <table>
              <tr>
                <td rowspan="4">
                  <img class="td-image"
                    alt="Opportunity Picture"
                    src="<%= opportunity.image %>">
                </td>
                <td class="td-title" colspan="3"><%= opportunity.title %></td>
                <td class="td-date"><%= opportunity.dateStr %></td>
              </tr>
              <tr>
                <td colspan="3" rowspan="2" class="td-description"><%= opportunity.description %></td>
                <td rowspan="2" class="td-time"><%= opportunity.startTimeStr %> - <%= opportunity.endTimeStr %></td>
              </tr>
              <tr></tr>
              <tr>
                <td colspan="3" class="td-organizers"><%= opportunity.organizers.join(', ') %></td>
                <td class="td-zip">Zip Code: <%= opportunity.zipCode %></td>
              </tr>
            </table>
          </li>
        <% }) %>
      </ol>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 Volunteer Sign-up. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
